<!--@subject Email - Footer @-->
                    <!-- End Content -->
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" border="0" class="container-table-footer" align="center">
                <tr>
                    <td colspan="2" height="10px;">&nbsp;</td>
                </tr>
                <tr>
                    <td class="logo-empresa">
                        <img src="{{skin url="images/email/logo_empresa_footer.jpg"}}" alt="{{store url=""}}" />
                    </td>
                    <td class="copy-mail">
                        © 2017 - Valkymia
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
