<?xml version="1.0"?>
<config>
    <modules>
        <Valkymia_Formcambio>
            <version>1.0</version>
        </Valkymia_Formcambio>
    </modules>
    <frontend>
        <routers>
            <formcambio>
                <use>standard</use>
                <args>
                    <module>Valkymia_Formcambio</module>
                    <frontName>formulario_cambio</frontName>
                </args>
            </formcambio>
        </routers>
        <translate>
            <modules>
                <Valkymia_Formcambio>
                    <files>
                        <default>Valkymia_Formcambio.csv</default>
                    </files>
                </Valkymia_Formcambio>
            </modules>
        </translate>
        <layout>
            <updates>
                <formcambio>
                    <file>formcambio.xml</file>
                </formcambio>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <formcambio>
                <class>Valkymia_Formcambio_Helper</class>
            </formcambio>
        </helpers>
        <template>
            <email>
                <formcambio_email_email_template translate="label" module="formcambio">
                    <label>Formcambio Form</label>
                    <file>formcambio_form.html</file>
                    <type>text</type>
                </formcambio_email_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Valkymia_Formcambio>
                    <files>
                        <default>Valkymia_Formcambio.csv</default>
                    </files>
                </Valkymia_Formcambio>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <formcambio translate="title" module="formcambio">
                                            <title>Formcambio Section</title>
                                        </formcambio>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <formcambio>
            <formcambio>
                <enabled>1</enabled>
            </formcambio>
            <email>
                <recipient_email><![CDATA[hello@example.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>formcambio_email_email_template</email_template>
            </email>
        </formcambio>
    </default>
</config>