<?xml version="1.0"?>
<config>
    <modules>
        <Valkymia_FormularioCambio>
            <version>1.0</version>
        </Valkymia_FormularioCambio>
    </modules>
    <frontend>
        <routers>
            <formulariocambio>
                <use>standard</use>
                <args>
                    <module>Valkymia_FormularioCambio</module>
                    <frontName>formulariocambio</frontName>
                </args>
            </formulariocambio>
        </routers>
        <translate>
            <modules>
                <Valkymia_FormularioCambio>
                    <files>
                    <default>Valkymia_FormularioCambio.csv</default>
                    </files>
                </Valkymia_FormularioCambio>
            </modules>
        </translate>
        <layout>
            <updates>
            <formulariocambio>
                <file>formulariocambio.xml</file>
            </formulariocambio>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <formulariocambio>
            <class>Valkymia_FormularioCambio_Helper</class>
            </formulariocambio>
        </helpers>
        <template>
            <email>
            <formulariocambio_email_email_template translate="label" module="formulariocambio">
                <label>FormularioCambio Form</label>
                <file>formulariocambio_form.html</file>
                <type>text</type>
            </formulariocambio_email_email_template>
            </email>
        </template>
    </global>
    <adminhtml>
        <translate>
            <modules>
            <Valkymia_FormularioCambio>
                <files>
                <default>Valkymia_FormularioCambio.csv</default>
                </files>
            </Valkymia_FormularioCambio>
            </modules>
        </translate>
        <acl>
            <resources>
            <admin>
                <children>
                <system>
                    <children>
                    <config>
                        <children>
                        <formulariocambio translate="title" module="formulariocambio">
                            <title>formulariocambio Section</title>
                        </formulariocambio>
                        </children>
                    </config>
                    </children>
                </system>
                </children>
            </admin>
        </resources>
        </acl>
    </adminhtml>
    <default>
        <formulariocambio>
            <formulariocambio>
            <enabled>1</enabled>
            </formulariocambio>
            <email>
            <recipient_email><![CDATA[hello@example.com]]></recipient_email>
            <sender_email_identity>custom2</sender_email_identity>
            <email_template>formulariocambio_email_email_template</email_template>
            </email>
        </formulariocambio>
    </default>
</config>