<?xml version="1.0"?>
<config>
    <modules>
        <Cart2cart_Login>
            <version>1.0.0</version>
        </Cart2cart_Login>
    </modules>
    <frontend>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <modules>
                        <Cart2cart_Login before="Mage_Customer">Cart2cart_Login</Cart2cart_Login>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>